code{
    display: block;
    white-space: pre;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    padding: 1em;
    margin: .5em 0 2em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    color: #090910;
    background: #fbfbfd;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.9;
    font-family: Consolas,source-code-pro,monospace;
}