/*

@Name：不落阁整站模板源码 
@Author：Absolutely 
@Site：http://www.lyblogs.cn

*/

.article-detail {
    background: #fff;
    padding: 15px;
    box-shadow: 0 1px 8px #a6a6a6;
    margin-bottom: 15px;
}

.article-detail-title {
    text-align: center;
    margin: 20px 0px;
    color: #404040;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 0;
    font-family: scandia-web,sans-serif;
}

.article-detail-info {
    border: 1px dashed #808080;
    font-size: 13px;
    color: #808080;
    padding: 5px 0;
    font-family: SimSun;
    text-align: center;
    margin: 0 0 10px;
}

    .article-detail-info span {
        margin: 0 5px;
    }

.article-detail-content {
    padding: 10px 5px;
}



/*代码区域*/

p{
    line-height: 1.5em;
    margin: 1em 0;
    font-size: 14px;
}
.list-paddingleft-2 {
    padding-left: 30px;
}