/*

@Name：不落阁整站模板源码 
@Author：Absolutely 
@Site：http://www.lyblogs.cn

*/

.article-detail {
    background: #fff;
    padding: 15px;
    box-shadow: 0 1px 8px #a6a6a6;
    margin-bottom: 15px;
}

.article-detail-title {
    text-align: center;
    margin: 20px 0px;
    color: #404040;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 0;
    font-family: scandia-web,sans-serif;
}

.article-detail-info {
    border: 1px dashed #808080;
    font-size: 13px;
    color: #808080;
    padding: 5px 0;
    font-family: SimSun;
    text-align: center;
    margin: 0 0 10px;
}

    .article-detail-info span {
        margin: 0 5px;
    }

.article-detail-content {
    padding: 10px 5px;
}



/*代码区域*/
.blog-main pre {
    display: block;
    white-space: pre;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    padding: 1em;
    margin: .5em 0 2em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    color: #090910;
    background: #fbfbfd;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.9;
    font-family: Consolas,source-code-pro,monospace;
}
p{
    line-height: 1.5em;
    margin: 1em 0;
    font-size: 14px;
}
.list-paddingleft-2 {
    padding-left: 30px;
}