
{{template "blog/head.html" .}}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow mb-10">
                <a href="home.html" title="网站首页">网站首页</a>
                <a><cite>文章专栏</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
                    {{if not .count}}
                    <div class="shadow" style="text-align:center;font-size:16px;padding:40px 15px;background:#fff;margin-bottom:15px;">
                        未搜索到与【<span style="color: #FF5722;">{{.keyword}}</span>】有关的文章，随便看看吧！
                    </div>
                    {{end}}
                    {{range .list}}
                        <a class="no-underline article transition pb-5 mb-10 block shadow" href="detail.html?id={{.Id}}">
                            <div>
                                <h2 class="article-title">{{.Title}}</h2>
                                <p class="article-abstract leading-normal">
                                    {{.Info}}
                                </p>
                            </div>
                            <div class="clear"></div>
                            <div class="article-footer">
                                <span><i class="fa fa-clock-o"></i>&nbsp;{{.Updated}}</span>
                                {{if .Tags}}
                                    <span><i class="fa fa-tag"></i>&nbsp;{{.Tags}}</span>
                                {{end}}
                                <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{.Views}}</span>
                                <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;0</span>
                            </div>
                        </a>
                    {{end}}

                    <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-0">
                        {{str2html .pagebar}}
                    </div>

                </div>

                {{template "blog/right.html" .}}
                <div class="clear"></div>
            </div>
        </div>
    </div>
    {{template "blog/foot.html" .}}
</body>
</html>