<footer class="blog-footer">
    <p><span>Copyright</span><span>&copy;</span><span>2020</span><a href="{{.config.url}}">{{.config.title}}</a><script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278885174'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278885174%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script><span></span></p>
</footer>

<!--侧边导航-->
<ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
    <li class="layui-nav-item {{if eq .actionName "home"}}layui-this{{end}}">
        <a href="home.html"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
    </li>
    <li class="layui-nav-item {{if eq .actionName "article"}}layui-this{{end}}">
        <a href="article.html"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
    </li>
    <li class="layui-nav-item {{if eq .actionName "resource"}}layui-this{{end}}">
        <a href="resource.html"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
    </li>
    <li class="layui-nav-item {{if eq .actionName "timeline"}}layui-this{{end}}">
        <a href="timeline.html"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
    </li>
    <li class="layui-nav-item {{if eq .actionName "about"}}layui-this{{end}}">
        <a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
    </li>
</ul>
<!--分享窗体-->
<div class="blog-share layui-hide">
    <div class="blog-share-body">
        <div style="width: 200px;height:100%;">
            <div class="bdsharebuttonbox">
                <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </div>
    </div>
</div>
<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>
<!-- layui.js -->
<script src="{{.domainPrefix}}/static/plug/layui/layui.js"></script>
<!-- 全局脚本 -->
<script src="{{.domainPrefix}}/static/js/global.js"></script>

<script src="{{.domainPrefix}}/static/js/{{.actionName}}.js"></script>
